<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
</head>
<body>
	<!-- Navbar -->
	<div th:replace="common/header :: navbar"></div>
	   <div class="container">
	     
	     <div class="row">
	        <div class="justify-content-center col-lg-8 offset-lg-2">
	           <h4 class="text text-center"><strong>Change Password</strong></h4><hr>
	           <div class="alert alert-warning" th:if="${currPassDontMatch}"><h5 class="text text-center">You entered wrong password</h5></div>
	           <div class="alert alert-warning" th:if="${passDontMatch}"><h5 class="text text-center">Password and Confirm Password needs to be identical</h5></div>
	           
	           <form th:action="@{/myAccount/changePassword}" th:object="${user}" method="post">
	              
	              
	              <div class="form-group">
	                  <label for="password">Current Password*</label>
	                  <input type="password"  class="form-control" name="currentPassword" />
	                  
	              </div>
	              <div class="form-group">
	                  <label for="password">New Password*</label>
	                  <input type="password"  class="form-control" name="password" />
	                  <p th:if="${minimum}" style="color: red;">Password must be at least 4 characters</p>
	              </div>
	              <div class="form-group">
	                  <label for="confirmPassword">Confirm New Password*</label>
	                  <input type="password"  class="form-control" name="confirmPassword"/>
	              </div>
	              
                  <button type="submit" class="btn btn-info btn-block" >Save</button>
	              <a th:href="@{/myAccount/viewAccount}" class="btn btn-danger btn-block">Cancel</a>
	              
	           </form>
	        </div>
	     </div>
	   </div>
	<div th:replace="common/header :: script"></div>
	<div th:replace="common/footer :: footer"></div>
</body>
</html>