<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
</head>
<body>
	<!-- Navbar -->
	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="alert alert-success">
			<h5>Your order have been successfully submitted.</h5>
			<p>Expect your delivery in 2-3 days.</p>
		</div>

		<div class="row" th:each="cartItem : ${cartItems}">
			<hr>
			<div class="col-lg-2">
				<a th:href="@{/productDetail(id = ${cartItem.product.id})}"> <img
					class="img-fluid"
					th:src="@{/image/product/} + ${cartItem.product.id} + '.png' "
					alt="preview" width="120" height="80">
				</a>
			</div>
			<div class="col-lg-6">
				<div style="margin-left: 50px;">
					<a th:href="@{/productDetails?id=} + ${cartItem.product.id}">
						<span th:text="${cartItem.product.name}"></span>
					</a>
				</div>
			</div>
			<div class="col-lg-2">
				<h5 style="font-size: large;" th:text=" '$' + ${#numbers.formatDecimal(cartItem.totalPrice, 0, 'COMMA', 2, 'POINT')}"></h5>
			</div>
			<div class="col-lg-2">
				<h5 style="font-size: large;" th:text="${cartItem.quantity}"></h5>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: script"></div>
	<div th:replace="common/footer :: footer"></div>
</body>
</html>
